$color-pink-terralogic: #bd10e0;
$color-purple-terralogic: #4d0c5a;
$color-white: #fff;
$color-off-white: #e1e4e8;
$color-gray-200: #bfc2d3;
$color-gray-400: #6b6c6f;
$color-gray-border: #dfe2e6;
$color-blue-name: #313558;
$color-black-label: #212020;

// border:
$border-1: 1px solid #212020;

// border-radius: 
$bd-rad-1: 4px;
$bd-rad-2: 20px;
$bd-rad-3: 30px;

// padding:
$pd-btn-1: 15px 40px;
$pd-btn-2: 11px 62px;
$pd-inp: 19px 14px 19px 40px; 

// font-weight
$fw-100:100;
$fw-200:200;
$fw-300:300;
$fw-400:400;
$fw-500:500;
$fw-600:600;
$fw-700:700;
$fw-bold: bold;
$fw-normal: normal;
